# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.temp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.idea/
*.iml
*.ipr
*.iws
